@import "variables/global";
@import "reset";
@import "themes/light";
@import "themes/dark";
@import "themes/orange";

body {
  font-size: var(--font-medium);
  color: var(--primary-color);
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.app_redesigned {
  min-height: 100vh;
  font: var(--font-medium-redesigned);
  color: var(--text-redesigned);
  background: var(--bg-redesigned);
}

.content-page {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
