.icon {
  margin-right: 10px;
  fill: var(--accent-redesigned);
}

.link {
  color: var(--text-redesigned);
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.collapsed {
  .text {
    display: none;
  }

  .icon {
    margin: 0;
  }
}

.active {
  border-left: 2px solid var(--accent-redesigned);
  background:
    linear-gradient(
      89.97deg,
      rgb(29 89 255 / 30%) 1.15%,
      rgb(94 211 243 / 0%) 99.97%
    );
}
