.button {
  padding: 6px 15px;
  color: var(--primary-color);
  border: 0;
  cursor: pointer;
}

.text {
  background: none;
  border: 0;
}

.outlined,
.outlinedInverted {
  background: none;
}

.outlined {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.outlinedInverted {
  color: var(--inverted-primary-color);
  border: 1px solid var(--inverted-primary-color);
}

.contained {
  color: var(--inverted-primary-color);
  background: var(--inverted-bg-color);
}

.icon {
  padding: 0;
  border: 0;
  background: none;
  outline: none;
}

.square {
  padding: 0;
}

.square.M {
  width: var(--font-line-medium);
  height: var(--font-line-medium);
  font-size: var(--font-size-medium);
}

.square.L {
  height: var(--font-line-large);
  width: var(--font-line-large);
  font-size: var(--font-size-large);
}

.square.XL {
  width: var(--font-line-extra-large);
  height: var(--font-line-extra-large);
  font-size: var(--font-size-extra-large);
}

.M {
  font-size: var(--font-size-medium);
}

.L {
  font-size: var(--font-size-large);
}

.XL {
  font-size: var(--font-size-extra-large);
}
