.sidebar {
  padding: 20px;
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--inverted-bg-color);
  transform: translateX(0);
  transition: transform 0.3s;
}

.collapsed {
  padding-left: 0;
  align-items: end;
  transform: translateX(-125px);
}

.toggleButton {
  position: absolute;
  right: calc(var(--font-line-large) * -1);
  bottom: var(--font-line-large);
}

.links {
  display: flex;
  flex-direction: column;
}

.sidebarRedesigned {
  width: 220px;
  height: 100%;
  padding: 20px;
  border-radius: 32px;
  background: var(--light-bg-redesigned);
}

.appLogo svg {
  fill: var(--text-redesigned);
}
