.title {
  color: var(--primary-color);
}

.text {
  color: var(--secondary-color);
}

.error {
  .title {
    color: var(--red-light);
  }

  .text {
    color: var(--red-dark);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.sizeSmall {
  .title {
    font-size: var(--font-size-medium);
  }

  .text {
    font-size: var(--font-size-small);
  }
}

.sizeMedium {
  .title {
    font-size: var(--font-size-large);
  }

  .text {
    font-size: var(--font-size-medium);
  }
}

.sizeLarge {
  .title {
    font-size: var(--font-size-extra-large);
  }

  .text {
    font-size: var(--font-size-large);
  }
}
