.sidebar {
  position: relative;
  width: 220px;
  height: 100%;
  padding: 20px 0;
  border-radius: 32px;
  background: var(--light-bg-redesigned);

  &.collapsed {
    width: 70px;
  }
}

.appLogo {
  margin: 0 auto;
  fill: var(--icon-redesigned);
}

.linksTopMargin {
  margin-top: 50px;
}

.settings {
  position: absolute;
  left: 50%;
  bottom: 30px;
  translate: -50%;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.collapseButton {
  position: absolute;
  top: 50%;
  right: 0;
  rotate: 90deg;
  fill: var(--icon-redesigned);
}

.collapsed {
  .appLogo {
    width: 30px;
  }

  .collapseButton {
    rotate: -90deg;
    translate: -50%;
  }

  .links {
    align-items: center;
  }

  .settings {
    gap: 0;
  }
}
