.mainLayout {
  min-height: 100%;
  display: grid;
  grid-template-areas: "sidebar content rightbar";
  grid-template-columns: min-content 1fr 240px;
}

.sidebar {
  max-width: 284px;
  padding: 32px;
  grid-area: sidebar;
}

.content {
  max-width: 1200px;
  width: 100%;
  padding: 32px;
  grid-area: content;
  justify-self: center;
}

.rightbar {
  padding: 32px;
  grid-area: rightbar;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sidebar,
.rightbar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.toolbar {
  height: 100%;
}
