.navbar {
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  background: var(--inverted-bg-color);
}

.appName {
  margin-left: 20px;
  color: var(--inverted-primary-color);
}

.links {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 15px 30px;
  color: var(--inverted-primary-color);
}

.link {
  color: currentcolor;
}
