.button {
  padding: 6px 8px;
  color: var(--text-redesigned);
  background-color: var(--bg-redesigned);
  border: 1px solid var(--accent-redesigned);
  border-radius: 12px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }

  &:hover {
    opacity: 0.8;
    color: var(--accent-redesigned);
  }
}

.empty {
  background: none;
  border: 0;
}

.contained {
  background: none;
  border: 0;
}

.outlined {
  background: none;
  border: 1px solid var(--accent-redesigned);
}

.cancel {
  background: none;
  border: 1px solid var(--cancel-redesigned);
}

.save {
  background: none;
  border: 1px solid var(--save-redesigned);
}

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-medium);
  height: var(--font-line-medium);
}

.square.l {
  height: var(--font-line-large);
  width: var(--font-line-large);
}

.square.xl {
  width: var(--font-line-extra-large);
  height: var(--font-line-extra-large);
}

.m {
  font: var(--font-medium-redesigned);
}

.l {
  font: var(--font-large-redesigned);
}

.xl {
  font: var(--font-extra-large-redesigned);
}
