.profileCard {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
}

.profileHeader {
  display: flex;
}

.editButton {
  margin-left: auto;
}

.profileData {
  margin-top: 30px;
}

.input {
  margin-top: 10px;
}
